<html>
    <head>
        <Title>Add New Devices</Title>
    </head>
    <body>
        <h1>Add New devices to the database.</h1>
        <form action="/addnewdevice" method="POST">
            Device ID:<br>
            <input type="text" name="DeviceID"><br>
            Device Name:<br>
            <input type="text" name="DeviceName"><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>