<html>
    <head>
        <title>
            Devices
        </title>
    </head>
    <body>
        <h1>Devices issued to you are.</h1>
        <table style="width:100%">
                <tr>
                        <th>ID</th>
                        <th>Device</th> 
                        <th>IssuedOn</th>
                        <th>Return Date</th>
                </tr>
            <% for (var i = 0; i < data.length ;i++ ) {%>
                <tr>
                    <th><%= data[i].DeviceID %></th>
                    <th><%= data[i].DeviceName %></th>
                    <th><%= data[i].IssuedOn %></th>
                    <th><%= data[i].ReturnDate %></th>
                </tr>
            <%}%>
        </table>
    </body>
</html>