<html>
    <head>
        <title>Device Not Available.</title>
    </head>
    <body>
        <h1>Device you are looking for is not Available. Try asking these people to return the device.</h1>
        <a href='/issueddevices'>Issued To</a>
    </body>
</html>
