<html>
    <head>
        <title>Welcome to inventory Management.</title>
    </head>

    <body>
        <h1>Please Enter your details.</h1>
        <form action="/profile" method='post'>
            Name:<br>
            <input type="text" name="Name"><br>
            Employee ID:<br>
            <input type="text" name="EmpID"><br>
            E-mail ID:<br>
            <input type="email" name="Email"><br>
            Mobile No.:<br>
            <input type="number" minlength="10" maxlength="10" name="Mob"><br>
            <br>
            <input type="submit" value="Submit">

        </form>
    </body>
</html>