<html>
    <head>
        <title>
            Issued to
        </title>
    </head>
    <body>
        <% for(var i = 0; i < data.length; i++){ %>
            <b> Name: <%= data.Name %>, Email: <%= data.Email %>, Mob: <%= data.Mob %></b>
        <% } %>
    </body>
</html>